<html>
  <head>
    <title>Error</title>
    <link rel="stylesheet" href="style/common.css">
  </head>

  <div class="navigation">
      <body>
      <p>Your account is not valid.</p>
      <p><a href="/register">Register</a></p>
      </body>
  </div>
</html>