<html>
  <head>
    <title>Login</title>
    <link rel="stylesheet" href="style/common.css">
  </head>

  <body>
      <h1>Logged out</h1>
    
      <p>You're now logged out.</p>
      <p><a href="/login">Login</a></p>
   </body>
</html>