<html>
  <head>
    <title>Error</title>
    <link rel="stylesheet" href="style/common.css">
  </head>

  <div class="navigation">
    <body>
      <p>You are already one of us.</p>
      <p><a href="/login">Login now</a></p>
    </body>
  </div>
</html>