<html>
  <head>
    <title>Welcome!</title>
    <link rel="stylesheet" href="style/common.css">
  </head>

  <body>
    <p>You are now one of us.</p>
    <p><a href="/login">Login now</a></p>
  </body>
</html>
